<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
    <body>
    <div class="card">

      <div class="card-header"><i class="fa fa-fw fa-globe"></i> <h2>Tambah <b>Karyawan</b></h2></div>

      <div class="card-body">

        <div class="col-sm-12">
          <h5 class="card-title"><i class="fa fa-fw fa-search"></i>Tambah Karyawan</h5>
          <form method="get">
            <div class="row">
              <div class="col-sm-2">
                <div class="form-group">
                  <label>Nama Karyawan</label>
                  <input type="text" name="name" id="name" class="form-control" value="" placeholder="Masukkan nama karyawan">
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label>No. HP</label>
                  <input type="tel" class="tel form-control" name="userphone" id="userphone" x-autocompletetype="tel" value="" placeholder="No. Hp">
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label>Limit Reimbursement</label>
                  <input type="tel" class="tel form-control" name="reimbursement" id="reimbursement" x-autocompletetype="tel" value="" placeholder="Limit Reimbursement">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Tanggal Masuk</label>
                  <div class="input-group">
                    <input type="text" class="fromDate form-control hasDatepicker" name="tglMasuk" id="df" value="" placeholder="Tanggal">
                    <div class="input-group-prepend"><span class="input-group-text">-</span></div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>&nbsp;</label>
                  <div>
                    <button type="submit" name="submit" value="insert" id="insert" class="btn btn-primary"><i class="fa fa-fw fa-search"></i> Tambah</button>
                    <a href="dashboard" class="btn btn-danger"><i class="fa fa-fw fa-sync"></i> Batal</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>

    </div>
</body>
</html>